body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%
}

a {
    color: #172c45;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word;
}


// 情人节感言
div.valentine {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background: -webkit-linear-gradient(left top, red, pink, white);
    background: -moz-linear-gradient(right bottom, red, pink, white);
    background: -o-linear-gradient(right bottom, red, pink, white);
    background: linear-gradient(to right bottom, red, pink, white);
    font-family: "微软雅黑";

    div.swiper-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        border-radius: 10px;
        img{
            width: 100%;
        }
        .swiper-pagination-bullet-active{
            background: aliceblue;
        }
    }

    div.title {
        line-height: 100px;
        text-align: center;
        font-size: 32px;
        color: antiquewhite;
    }

    div.content {
        line-height: 50px;
        text-indent: 2em;
        font-size: 28px;
        color: #fff;
    }

    div.text_sign {
        line-height: 50px;
        text-align: right;
        font-size: 22px;
        color: red;
    }
}